.root {
	-fx-background-color: white;
}

.sidebar {
	-fx-background-color: #111111;
}

.sidebar.label{
	-fx-text-fill: #7C8184;
	-fx-background-color: transparent ;
}
.buttons {
	-fx-background-color: transparent;
}
.buttons:hover {
	-fx-background-color: #202332;
}


.table-view .column-header {
   -fx-background-color: #212529;
   -fx-border-width: 0.0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
     -fx-alignment: center-left;
      -fx-padding: 10.0;
}

.table-view {
  -fx-background-insets: 0.0;
}

.table-row-cell{
	-fx-background-color:  white;
	-fx-table-cell-border-color: transparent;
	-fx-table-cell-border-width: 0.0;
}

.table-cell{
	 -fx-padding: 10.0;
}

.table-row-cell:selected {
   -fx-background-color: #ECECEC;
   -fx-text-background-color: BLACK;
}

 .scroll-bar {
    -fx-background-color:transparent;
}

 .scroll-bar:vertical {
    -fx-background-color:transparent;
}

 .scroll-bar:horizontal {
    -fx-background-color:transparent;
}

 .scroll-bar .thumb {
    -fx-background-color:derive(black, 50.0%);
}

 .scroll-bar .thumb:hover {
    -fx-background-color:derive(black, 70.0%);
}

.table-view .scroll-bar:horizontal {
    -fx-scale-y: 0.0;
}

 .increment-button:hover , .decrement-button:hover {
    -fx-background-color:transparent;
}

 .track  {
    -fx-background-color:transparent;
}


.button {
	-fx-background-color:transparent;
}
.button:pressed {
	-fx-border-color: black;
}

.subheading {
	-fx-background-color: #83E6F3;
}

.saveButton {
	-fx-background-color: #36d136;
	-fx-font-weight: bold;
}

.cancelButton {
	-fx-background-color: #ea123a;
	-fx-font-weight: bold;
}

.pagination > .pagination-control > .control-box > .number-button{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-min-width: 30;
    -fx-min-height: 30;
}
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover{
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}
